.depoimentos {
    width: 90%;
    padding: 4rem 5rem;
    margin: 0 auto;
    margin-bottom: 6rem;
}
.depoimentos__container {
    width: 76rem;
    margin: 0 auto;
    text-align: center;
}
.depoimentos__container-info {
    color: var(--vermelho);
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.2rem;
}
.depoimentos__container-texto {
    font-size: 2.25rem;
    line-height: 2.8rem;
    color: var(--cinza-escuro);
    padding: 1rem 4rem;
}
.depoimentos__container-imagem {
    padding-bottom: 1rem;
}
.depoimentos__container-nome{
    line-height: 1.5rem;
    color: var(--cinza-escuro);
    padding-bottom: 0.25rem;
}
.depoimentos__container-formacao {
    font-size: 0.9rem;
    color: var(--cinza-claro);
    font-weight: 400;
    line-height: 1.2rem;
}