nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    padding-right: 0.5rem;
}
.menu__link{
    color: var(--cinza-claro);
    text-decoration: none;
    margin-right: 2rem;
}
button {
    padding: 0.8rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    background: none;
    color: var(--cinza-claro);
    font-size: 0.9rem;
}
.btnEntrar {
    border: 1px solid var(--cinza-claro);
}
.btnCadastrar {
    background-color: var(--vermelho);
    color: var(--branco);
}
