.rodape__container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 0 0 6rem 0;
    background-color: var(--cinza-fundo);
}
.rodape__container-titulo {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.8rem;
    color: var(--cinza-escuro);
    padding-bottom: 1.25rem;
}
.rodape__container-texto {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.9rem;
    color: var(--cinza-claro);
    padding-bottom: 2.5rem;
}
.rodape__container-email {
    border: 1px solid var(--cinza-clarinho);
    border-radius: 0.5rem;
    padding: 0.75rem;
    margin-right: 1rem;
    width: 24rem;
}

.rodape__container-copyright {
    font-weight: 400;
    line-height: 1.5rem;
    color: var(--cinza-clarinho);
    padding-top: 2rem;
}
