@import url("normalize.css");
@import url("header.css");
@import url("sobre-nos.css");
@import url("metricas.css");
@import url("vagas.css");
@import url("anuncios.css");
@import url("depoimentos.css");

:root {
    --fonte-principal: "Inter", sans-serif;
    --branco: #FFFFFF;
    --vermelho: #8E2424;
    --vermelho-transparente: #8E24240D;
    --cinza-claro: #667085;
    --cinza-escuro: #101828;
}

body {
    font-family: var(--fonte-principal);
    font-weight: 500;
    font-size: 16px;
    background: var(--branco);
    height: 100vw;
    width: 100%;
    box-sizing: border-box;
}